/* SqlEditor.module.css */
.lightMode {
  --background-color: #f5f5f5;
  --text-color: #333;
  --editor-bg-color: #ffffff;
  --sidebar-bg-color: #ffffff;
  --border-color: #ddd;
  --highlight-color: #007acc;
  --hover-bg-color: #e6f7ff;
  --secondary-bg-color: #f9f9f9;
  --secondary-text-color: #007acc;
  --scrollbar-thumb-color: #ccc;
  --scrollbar-thumb-hover-color: #aaa;
}

.darkMode {
  --background-color: #1e1e1e;
  --text-color: #e0e0e0;
  --editor-bg-color: #1E1E1E;
  --sidebar-bg-color: #2c2c2c;
  --border-color: #444;
  --highlight-color: #569cd6;
  --hover-bg-color: #577eb5;
  --secondary-bg-color: #2a2a2a;
  --secondary-text-color: #569cd6;
  --scrollbar-thumb-color: #555;
  --scrollbar-thumb-hover-color: #777;
}

.sqlEditorContainer {
  display: flex;
  height: calc(100vh - 40px); /* Subtract the navbar height */
  width: 100vw;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar {
  min-width: 240px;
  width: 240px;
  background-color: var(--sidebar-bg-color);
  border-right: 1px solid var(--border-color);
  padding: 10px;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

.databaseInfo {
  margin-bottom: 30px;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.databaseInfo h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.databaseInfo p {
  font-size: 0.85rem;
}

.databaseInfo h2 :first-child {
  width: 50px;
}

.tableList {
  margin-bottom: 50px;
}

.tableList h3, .savedQueries h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

.tableItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.tableItem:hover {
  background-color: var(--hover-bg-color);
}

.activeTable {
  background-color: var(--highlight-color);
  color: var(--sidebar-bg-color);
}

.savedQueryItem {
  padding: 10px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: 1px solid var(--border-color);
}

.savedQueryItem:hover {
  background-color: var(--hover-bg-color);
}

.mainEditor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 0; /* Prevent flex item from growing beyond its container */
}

.editorToolbar {
  display: flex;
  /* gap: 10px; */
  height: 50px;
}

.editorHead {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--editor-bg-color);
  border-right: 1px solid var(--border-color);
}

.editorActions {
  background-color: var(--sidebar-bg-color);
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: calc(100% - 80px);
  justify-content: end;
  align-items: center;
}

.editorToolbar button {
  background-color: var(--sidebar-bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.editorToolbar button:hover {
  background-color: var(--hover-bg-color);
}

.runButton {
  background-color: var(--highlight-color) !important;
  color: white !important;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  padding: 5px 15px !important;
}

.runButton:hover {
  background-color: var(--hover-bg-color) !important;
}

.editorSection {
  flex: 1 1 50%; /* Take 50% of the height */
  height: 50%; /* Ensure fixed height */
  margin-bottom: 10px; /* Add gap between input and output sections */
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

.sqlTextarea {
  width: 100%;
  min-height: 200px;
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
  border: none;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  padding: 15px;
  resize: vertical;
  outline: none;
  flex-grow: 1;
  overflow: auto;
}

.tableSchema {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  background-color: var(--secondary-bg-color);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  overflow: auto;
  margin-top: 20px;
  transition: width 0.3s ease;
}

.tableSchema.collapsed {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  padding: 15px 5px;
}

.tableSchemaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleButton {
  background: var(--highlight-color);
  color: var(--sidebar-bg-color);
  border: var(--border-color);
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: var(--secondary-text-color);
}

.tableSchema h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tableSchema table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tableSchema th, 
.tableSchema td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
  font-size: 0.9rem;
}

.tableSchema th {
  background-color: var(--background-color);
}

.tableSchema td {
  border-color: var(--border-color);
}

.resultsSection {
  flex: 1 1 50%; /* Take 50% of the height */
  height: 50%; /* Ensure fixed height */
  margin-top: 0; /* Remove top margin */
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.resultHeader {
  height: 50px;
  width: 80px;
  background-color: var(--editor-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--border-color);
  border-bottom: none;
  border-left: none;
}

.resultActions {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 80px);
  justify-content: end;
  align-items: center;
  background-color: var(--sidebar-bg-color);

}

.resultsTableContainer {
  flex-grow: 1; /* Make it take the full height of the output section */
  max-width: 100%;
  background-color: var(--editor-bg-color);
  padding: 15px;
  overflow: auto;
}

.resultsTableContainer::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px; /* Thin scrollbar */
}

.resultsTableContainer::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

.resultsTableContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.resultsTable th, 
.resultsTable td {
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.resultsTable th {
  background-color: var(--sidebar-bg-color);
  font-weight: bold;
}

.resultsTable td {
  border-color: var(--border-color);
}

.resultsTable thead {
  background-color: var(--background-color);
}

.resultsTable tbody {
  max-height: 250px; /* Adds a max height for scrolling */
  overflow-y: auto;
}

.resultsTable tbody::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px; /* Thin scrollbar */
}

.resultsTable tbody::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

.resultsTable tbody::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

.resultsTable table {
  width: 100%;
  min-width: 500px;
  table-layout: auto; /* Allows dynamic column sizing */
}